a.navbar-link {
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  a.navbar-link:hover {
    font-size: 200%;
  }
  body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
  }
  .hover-cart {
    cursor: pointer !important;
  }